# Higress API MCP Server URL (可选,不设置则不启用)
HIGRESS_API_MCP_SERVER_URL=

# Higress Ops MCP Server URL (可选,不设置则不启用)
HIGRESS_OPS_MCP_SERVER_URL=

# 是否启用 Kubectl MCP Server (可选,默认为 false)
ENABLE_KUBECTL_MCP_SERVER=false

# Memory file path
MEMORY_FILE_PATH=./memory

# Dashscope API Key (必需)
DASHSCOPE_API_KEY=

# Model name
MODEL_NAME=qwen-plus

# Model server
MODEL_SERVER=

# for higress ops mcp server
X_ISTIOD_TOKEN=

# for higress api mcp server
AUTHORIZATION=


